.wrapper{
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-around;
    background: blue;
}

#header{
    background-color: green;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: white;
}

body{
    background-color: lightblue;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: lightcoral;
    }
}
